{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to Color Collector!</h1>
    <p>A simple site organizing colors and palettes as you desire! Add colors via the "Add Colors" dropdown to get started!</p>



<div class="container">
    <!-- <form action="" method="post">

    </form> -->
    <div class="row">
        {% for base_color in base_colors %}
        <div class="col-md-4 col-xs-12">
            <h1>{{base_color.name}}</h1>
            <a class="d-block" href="{% url 'base_detail' base_color.pk %}">Link</a>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}