{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="paletteHeader">Palettes</h1>
    <h3 class ="d-inline-block">Create a New Palette - </h3>
    <div class="paletteFormContainer d-inline-block">
        <form action="{% url 'palette_create' %}" method="post">
            {% csrf_token %}
            <input class="d-inline-block" type="text" placeholder="Palette Name" name="name" id="name"></input>
            <button class="btn btn-primary d-inline-block">Submit</button>
        </form>
    </div>

{% for palette in palettes.all %}

    <div class="listedPaletteContainer container">
    <div class="row">
        <div class="col col-xs-2">
            <a href="/palettes/{{palette.pk}}"><h4>{{ palette.name }}</h4></a>
        </div>
        <div class="col col-xs-2">
            <form action="{% url 'palette_delete' palette.pk %}" method="post">
                {% csrf_token %}
                <button class="btn btn-danger">Delete Palette</button>
            </form>
        </div>
    </div>

    {% for color in palette.colors.all %}

        <div class="row">
            <div class="col col-xs-1"></div>
            <div class="col col-xs-2">
                <p>{{ color.name }}</p>
            </div>
        </div>

    {% empty %}

        <div class="row">
            <p>No Colors Added Yet</p>
        </div>

    {% endfor %}
    </div>
{% empty %}

 <h4>No Palettes Listed!</h4>

{% endfor %}

</div>

{% endblock %}